{% extends 'base.html' %}

{% block title %}
{{ car.make }}{{car}}
{% endblock %}

{% block main-content %}
<h2>{{ brand }} {{ car }}</h2>
<div class="form__container">
  <h4>Make: <span>{{ car.make }}</span></h4>
  <h4>Model: <span>{{ car }}</span></h4>
</div>

<div class="btn__container">
  <a href="{% url 'edit-car' brand.id car.id %}">
    <button class="btn" role="button">Edit {{car.make}} {{car}}</button>
  </a>

  <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="delete_car" value="{{ car.id }}" />
    <button class="btn secondary" type="submit">
      Delete {{car.make}} {{car}}
    </button>
  </form>
</div>


{% endblock %}