<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/static/js/main.js" defer></script>
    </head>
    <body>
        <h1>What do you wish for?</h1>
        <img src="{{preview_url}}">
        <form id="pokemon-form">
            <label for="pokemon-name">Pokemon name:</label>
            <input id="pokemon-name" value="ditto" placeholder="which pokemon?">
            <button type="submit">SUBMIT!</button>
        </form>
        <hr>
        <img id="pokemon-image" src="https://placekitten.com/200/300">
    </body>
</html>