{% extends "electronics_app/layout.html" %}

{% block scripts %}
<script src="/static/js/main.js" defer></script>
{% endblock %}

{% block top-content %}
<marquee>Welcome to our store!</marquee>

{% endblock %}

{% block bottom-content %}
<marquee>Going out of business! Everything must go!</marquee>
<!-- the password is admin -->
<form id="search-form">
    <label for="product">What are you looking for?</label>
    <input value="phone" autofocus id="product">
    <button type="submit">SUBMIT</button>
</form>
{% endblock %}