.App {
  text-align: center;
  background-color: rgb(138, 143, 37);
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
  display: table-cell;
}

#yes {
  color: rgb(0, 255, 0);
}

#no {
  color: rgb(255, 0, 0);
}

h1 {
  color: rgb(0, 0, 255);
}