{% load static %}

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">You <strong>ARE</strong> in dNile! </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Welcome! We are <em>ALL</em> in dNile.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" type="submit">Continue to cart</button>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row justify-content-around align-items-end department-layout">
    {% for product in products %}
    <div class="col-4">
        <ul style="list-style: none">
            <li>
                <img src="{% static product.image_loc %}" alt="{{product.name}}" width="95%"></li>
            <li class="info">{{product.name}}</li>
            <li class="info">{{product.price}}</li>
            <li>
                <div class="info">
                  <button data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn btn-primary" type="button">Add to cart</button>
              </div>
            </li>
        </ul>
    </div>
    {% endfor %}
    </div>
</div>